body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}


h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Table */
.table {
    width: 100%;
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
}

.btn {
    margin: 0 5px;
}

#snackbar {
    visibility: hidden; /* Hidden by default */
    min-width: 250px; /* Minimum width of the snackbar */
    margin-left: -125px; /* Center the snackbar */
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    text-align: center; /* Center the text */
    border-radius: 2px; /* Rounded corners */
    padding: 16px; /* Padding */
    position: fixed; /* Fixed position */
    z-index: 1; /* Sit on top */
    left: 50%; /* Center horizontally */
    bottom: 30px; /* 30px from the bottom */
    font-size: 17px; /* Text size */
}
.nav-link:hover {
    color: #adb5bd !important;
}

