<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Equipamento por Categoria</title>
    <link rel="icon" href="{{ url_for('static', filename='images/1664515319272.jpeg') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_equip.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css')}}">
</head>
<body>
    <div id="sidebar">
        <!-- Sidebar Icon/Logo -->
        <div class="sidebar-icon">
            <img src="{{ url_for('static', filename='images/NIT_logo.png') }}" alt="Logo">
        </div>

        <!-- Navigation Items -->
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/index" title="Dashboard">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
            {% if is_admin %}
               
                <li class="nav-item">
                    <a class="nav-link" href="/requisicoes" title="Inventory">
                        <i class="fas fa-clipboard"></i> Requisições
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/inventory" title="Inventory">
                    <i class="fas fa-box"></i> Inventário
                </a>
            </li>
            {% if is_admin %}
               
                <li class="nav-item">
                    <a class="nav-link" href="/inventory_nit" title="Inventory">
                        <i class="fas fa-boxes"></i> Inventário NIT
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/adicionar_equipamento" title="Add Equipment">
                    <i class="fas fa-plus"></i> Adicionar equipamento
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adicionar_equipamento_nit" title="Add Equipment">
                    <i class="fas fa-plus"></i> Adicionar equipamento NIT
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/perfil" title="Perfil utilizador">
                    <i class="fas fa-user"></i> Perfil
                </a>
            </li>
            {% if is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/adicionar_utilizador" title="Add User">
                        <i class="fas fa-user-plus"></i> Adicionar utilizador
                    </a>
                </li>

                
            {% endif %}
            
            <li class="nav-item">
                <a class="nav-link" href="/logout" title="Logout">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        </ul>
    </div>

    <!-- Main content -->
    <div id="main-content">
        <div class="container equipment-form">
            <h1>Adicionar Equipamento</h1>
            <form enctype="multipart/form-data" action="{{ url_for('add_equip') }}" method="post">
                <!-- Category Selection -->
                <div class="form-group">
                    <label for="category">Categoria</label>
                    <select class="form-control" id="category" name="category" onchange="toggleCategoryFields()">
                        <option value="" disabled selected>Selecione a categoria</option>
                        <option value="computadores">Computadores</option>
                        <option value="monitores">Monitores</option>
                        <option value="cameras">Câmeras</option>
                        <option value="voips">VoIPs</option>
                        <option value="headsets">Headsets</option>
                    </select>
                </div>

                <!-- Fields for Computadores -->
                <div id="computadoresFields" class="category-fields" style="display: none;">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="atribuido_a">Atribuido a</label>
                            <input type="text" class="form-control" id="atribuido_a" name="atribuido_a" placeholder="Ex: Ana Maria Santos">
                        </div>
                        <div class="form-group">
                            <label for="nome_ad">Nome AD</label>
                            <input type="text" class="form-control" id="nome_ad" name="nome_ad" placeholder="Ex: AMS00991">
                        </div>
                        <div class="form-group">
                            <label for="marca">Marca</label>
                            <input type="text" class="form-control" id="marca" name="marca" placeholder="Ex: Nexus123">
                        </div>
                        <div class="form-group">
                            <label for="modelo">Modelo</label>
                            <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Ex: AS123">
                        </div>
                        <label for="processor">Processador</label>
                        <input type="text" class="form-control" id="processor" name="processor" placeholder="Ex: Intel i7">
                    </div>
                    <div class="form-group">
                        <label for="ram">Memória RAM</label>
                        <input type="text" class="form-control" id="ram" name="ram" placeholder="Ex: 16GB">
                    </div>
                    <div class="form-group">
                        <label for="storage">Armazenamento</label>
                        <input type="text" class="form-control" id="storage" name="storage" placeholder="Ex: 512GB SSD">
                    </div>
                    <div class="form-group">
                        <label for="no_serie">Nº Série</label>
                        <input type="text" class="form-control" id="no_serie" name="no_serie" placeholder="Ex: SN123455">
                    </div>
                    <div class="form-group">
                        <label for="cod_nit">Codigo NIT</label>
                        <input type="text" class="form-control" id="cod_nit" name="cod_nit" placeholder="Ex: 123">
                    </div>
                    <div class="form-group">
                        <label for="data_aq">Data aquisição</label>
                        <input type="text" class="form-control" id="data_aq" name="data_aq" placeholder="Ex: Nexus123">
                    </div>
                    <div class="form-group">
                        <label for="firma">Firma</label>
                        <input type="text" class="form-control" id="firma" name="firma" placeholder="Ex: Escritorio Digital">
                    </div>
                    <div class="form-group">
                        <label for="so">SO</label>
                        <input type="text" class="form-control" id="so" name="so" placeholder="Ex: Windows 11">
                    </div>
                </div>

                <!-- Fields for Monitores -->
                <div id="monitoresFields" class="category-fields" style="display: none;">
                    <div class="form-group">
                        <label for="atribuido_a">Atribuido a</label>
                        <input type="text" class="form-control" id="atribuido_a" name="atribuido_a" placeholder="Ex: Ana Maria Santos">
                    </div>
                    <div class="form-group">
                        <label for="marca_modelo">Marca/Modelo</label>
                        <input type="text" class="form-control" id="marca_modelo" name="marca_modelo" placeholder="Ex: NSA123">
                    </div>
                    <div class="form-group">
                        <label for="polegadas">Polegadas</label>
                        <input type="text" class="form-control" id="polegadas" name="polegadas" placeholder="Ex: 22''">
                    </div>
                    <div class="form-group">
                        <label for="cod_nit">Codigo NIT</label>
                        <input type="text" class="form-control" id="cod_nit" name="cod_nit" placeholder="Ex: 123">
                    </div>
                    <div class="form-group">
                        <label for="no_serie">Nº Série</label>
                        <input type="text" class="form-control" id="no_serie" name="no_serie" placeholder="Ex: SN123455">
                    </div>
                    <div class="form-group">
                        <label for="data_aq">Data aquisição</label>
                        <input type="text" class="form-control" id="data_aq" name="data_aq" >
                    </div>
                    <div class="form-group">
                        <label for="garantia">Garantia</label>
                        <input type="text" class="form-control" id="garantia" name="garantia" placeholder="Ex: 3 anos">
                    </div>

                </div>

                <!-- Fields for Câmeras -->
                <div id="camerasFields" class="category-fields" style="display: none;">
                    <div class="form-group">
                        <label for="atribuido_a">Atribuido a</label>
                        <input type="text" class="form-control" id="atribuido_a" name="atribuido_a" placeholder="Ex: Ana Maria Santos">
                    </div>
                    <div class="form-group">
                        <label for="marca_modelo">Marca/Modelo</label>
                        <input type="text" class="form-control" id="marca_modelo" name="marca_modelo" placeholder="Ex: NSA123">
                    </div>
                    <div class="form-group">
                        <label for="cod_nit">Codigo NIT</label>
                        <input type="text" class="form-control" id="cod_nit" name="cod_nit" placeholder="Ex: 123">
                    </div>
                </div>

                <!-- Fields for VoIPs -->
                <div id="voipsFields" class="category-fields" style="display: none;">
                    <div class="form-group">
                        <label for="atribuido_a">Atribuido a</label>
                        <input type="text" class="form-control" id="atribuido_a" name="atribuido_a" placeholder="Ex: Ana Maria Santos">
                    </div>
                    <div class="form-group">
                        <label for="marca_modelo">Marca/Modelo</label>
                        <input type="text" class="form-control" id="marca_modelo" name="marca_modelo" placeholder="Ex: NSA123">
                    </div>
                    <div class="form-group">
                        <label for="ext">Extensão</label>
                        <input type="text" class="form-control" id="ext" name="ext" placeholder="Ex: 3310">
                    </div>
                    <div class="form-group">
                        <label for="cod_nit">Codigo NIT</label>
                        <input type="text" class="form-control" id="cod_nit" name="cod_nit" placeholder="Ex: 123">
                    </div>
                    <div class="form-group">
                        <label for="no_serie">Nº Série</label>
                        <input type="text" class="form-control" id="no_serie" name="no_serie" placeholder="Ex: SN123455">
                    </div>
                    
                    <div class="form-group">
                        <label for="headset_cod_nit">HeadSet Codigo NIT</label>
                        <input type="text" class="form-control" id="headset_cod_nit" name="headset_cod_nit" placeholder="Ex: 123">
                    </div>
                    
                </div>

                <!-- Fields for Headsets -->
                <div id="headsetsFields" class="category-fields" style="display: none;">
                    <div class="form-group">
                        <label for="atribuido_a">Atribuido a</label>
                        <input type="text" class="form-control" id="atribuido_a" name="atribuido_a" placeholder="Ex: Ana Maria Santos">
                    </div>
                    <div class="form-group">
                        <label for="marca_modelo">Marca/Modelo</label>
                        <input type="text" class="form-control" id="marca_modelo" name="marca_modelo" placeholder="Ex: NSA123">
                    </div>
                    <div class="form-group">
                        <label for="cod_nit">Codigo NIT</label>
                        <input type="text" class="form-control" id="cod_nit" name="cod_nit" placeholder="Ex: 123">
                    </div>

                    
                    
                </div>

                <button type="submit" class="btn btn-primary">Adicionar equipamento</button>
            </form>
        </div>
    </div>

    <script>
        function toggleCategoryFields() {
            const selectedCategory = document.getElementById("category").value;
            const allFields = document.querySelectorAll(".category-fields");

            // Hide all category-specific fields
            allFields.forEach(field => field.style.display = "none");

            // Show the selected category's fields
            if (selectedCategory) {
                const fieldsToShow = document.getElementById(`${selectedCategory}Fields`);
                if (fieldsToShow) fieldsToShow.style.display = "block";
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>