<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar equipamento</title>
    <link rel="icon" href="{{ url_for('static', filename='images/1664515319272.jpeg') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_equip.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css')}}">
</head>
<body>
    <div id="sidebar">
        <!-- Sidebar Icon/Logo -->
        <div class="sidebar-icon">
            <img src="{{ url_for('static', filename='images/NIT_logo.png') }}" alt="Logo">
        </div>
    
        <!-- Navigation Items -->
        <ul class="nav flex-column">
            
            <!-- Dashboard Group -->
            <li class="nav-item">
                <a class="nav-link active" href="/index" title="Dashboard">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
            {% if is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/requisicoes" title="Requisições">
                        <i class="fas fa-clipboard"></i> Requisições
                    </a>
                </li>
            
                
                
            {% endif %}
    
            <!-- Inventário Group with Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="inventarioDropdown" role="button" data-toggle="collapse" data-target="#inventarioCollapse" aria-expanded="false" aria-controls="inventarioCollapse">
                    <i class="fas fa-box"></i> Inventário
                </a>
                <div class="collapse" id="inventarioCollapse">
                    <ul class="nav flex-column pl-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/inventory" title="Inventário">
                                <i class="fas fa-box"></i> Inventário
                            </a>
                        </li>
                        
                        {% if is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="/inventory_nit" title="Inventário NIT">
                                <i class="fas fa-boxes"></i> Inventário NIT
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
    
            <!-- Adicionar Group with Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="adicionarDropdown" role="button" data-toggle="collapse" data-target="#adicionarCollapse" aria-expanded="false" aria-controls="adicionarCollapse">
                    <i class="fas fa-plus"></i> Adicionar
                </a>
                <div class="collapse" id="adicionarCollapse">
                    <ul class="nav flex-column pl-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/adicionar_equipamento" title="Adicionar Equipamento">
                                <i class="fas fa-plus"></i> Adicionar equipamento
                            </a>
                        </li>
                        
                        {% if is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="/adicionar_equipamento_nit/-" title="Adicionar Equipamento NIT">
                                <i class="fas fa-plus"></i> Adicionar equipamento NIT
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            
            <!-- Perfil Group -->
            <li class="nav-item">
                <a class="nav-link" href="/perfil" title="Perfil utilizador">
                    <i class="fas fa-user"></i> Perfil
                </a>
            </li>
            
    
            <!-- Admin Only Group -->
            {% if is_admin %}
                
                <li class="nav-item">
                    <a class="nav-link" href="/adicionar_utilizador" title="Adicionar utilizador">
                        <i class="fas fa-user-plus"></i> Adicionar utilizador
                    </a>
                </li>
            {% endif %}
            
            <!-- Logout -->
            <li class="nav-item">
                <a class="nav-link" href="/logout" title="Logout">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        </ul>
    </div>

    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Sucesso!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Equipamento adicionado com sucesso!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <div id="main-content">
        <div class="container equipment-form">
            <h1>Adicionar Equipamento</h1>
            <form enctype="multipart/form-data" action="{{ url_for('add_equip') }}" method="post" onsubmit="return confirmAdd()">         
                <div class="form-group">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="entryMode" id="singleEntry" value="single" checked onclick="toggleEntryMode()">
                        <label class="form-check-label" for="singleEntry">Introdução unitaria</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="entryMode" id="bulkEntry" value="bulk" onclick="toggleEntryMode()">
                        <label class="form-check-label" for="bulkEntry">Introdução em Bulk(CSV)</label>
                    </div>
                    <!-- Link to download sample CSV file, initially hidden -->
                    <div id="downloadLink" style="display: block; margin-top: 10px;">
                        <a href="{{ url_for('static', filename='default.csv') }}"  download>Download modelo CSV</a>
                    </div>
                    
                </div>
            
                <!-- Single Entry Fields -->
                <div id="singleEntryFields">
                    <div class="form-group">
                        <label for="itemSerialNo">Numero de série</label>
                        <input type="text" class="form-control" id="itemSerialNo" name="itemSerialNo" placeholder="Introduzir serial number" oninput="checkSerialNumber()">
                        <small id="serialError" class="form-text text-danger" style="display: none;">Número de série já existe!</small>
                    </div>
                    <div class="form-group">
                        <label for="itemType">Tipo de equipamento</label>
                        <select class="form-control" id="itemType" name="itemType">
                            <option value="" disabled selected>Selecione o tipo de equipamento</option>
                            <option value="tablet">Tablet</option>
                            <option value="computador">Computador</option>
                            <option value="portatil">Portátil</option>
                            <option value="switch">Switch</option>
                            <option value="OculosVR">ÓculosVr</option>
                            <option value="imp3D">Impressora 3D</option>
                            <option value="mesas_digitais">Mesas Digitais</option>
                            <option value="jogos_didaticos">Jogos didáticos</option>
                            <option value="robotica">Robótica</option>
                            <option value="musica_som">Musica/Som</option>
                            <option value="projetor">Projetor</option>
                            <option value="smartboard">SmartBoard</option>
                            <option value="outros">Outros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="MACaddr">Mac address</label>
                        <input type="text" class="form-control" id="MACaddr" name="MACaddr" placeholder="MAC addr">
                    </div>

                    
                    <div class="form-group">
                        <label for="itemUse">Utilização</label>
                        <select class="form-control" id="itemUse" name="itemUse">
                            <option value="" disabled selected>Selecione a utilização do equipamento</option>
                            <option value="Manuais digitais">Manuais digitais</option>
                            <option value="default">- </option>
                        </select>
                    </div>
                    {%if is_admin %}
                    <div class="form-group">
                        <label for="location">Escola</label>
                        <select class="form-control" id="location" name="location">
                            <option value="" disabled selected>Selecionar escola</option>
                            {% for escola in escolas %}
                                <option>{{ escola }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {%endif%}
                    <div class="form-group">
                        <label for="assignedTo">Atribuido a (opcional)</label>
                        <input type="text" class="form-control" id="assignedTo" name="assignedTo" placeholder="Introduzir cc do aluno">
                    </div>
                    <div class="form-group">
                        <label for="accessories">Acessórios (Separado por virgulas):</label>
                        <input type="text" id="accessories" name="accessories" class="form-control" placeholder="Ex.,Carregador,Mala,Rato... ">
                    </div>
                </div>
            
                <!-- Bulk Entry Fields -->
                <div id="bulkEntryFields" style="display: none;">
                    <div class="form-group">
                        <label for="csvFile">Upload ficheiro CSV</label>
                        <input type="file" class="form-control-file" id="csvFile" name="csvFile" accept=".csv">
                    </div>
                </div>
            
                <button type="submit" class="btn btn-primary" id="submitBtn">Adicionar equipamento</button>
            </form>
        </div>
        
        <script>
            function toggleEntryMode() {
                const singleEntryFields = document.getElementById("singleEntryFields");
                const bulkEntryFields = document.getElementById("bulkEntryFields");
                const downloadLink = document.getElementById('downloadLink');

                const isBulk = document.getElementById("bulkEntry").checked;
        
                singleEntryFields.style.display = isBulk ? "none" : "block";
                bulkEntryFields.style.display = isBulk ? "block" : "none";
                downloadLink.style.display = isBulkEntrySelected ? 'block' : 'none';

            }

            function checkSerialNumber() {
                const serialNumber = document.getElementById('itemSerialNo').value;
                const schoolId = {{ user_details.get('escola_id', 'null') }};
            
                if (serialNumber.length > 0) {
                    fetch('/check_serial_number', {
                        method: 'POST',
                        body: new URLSearchParams({
                            'numero_serie': serialNumber,
                            'escola_id': schoolId
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        const errorMessage = document.getElementById('serialError');
                        if (data.exists) {
                            errorMessage.style.display = 'block';
                            document.getElementById('submitBtn').disabled = true;
                        } else {
                            errorMessage.style.display = 'none';
                            document.getElementById('submitBtn').disabled = false;
                        }
                    });
                }
            }

            function confirmAdd() {
                //alert("Equipamento adicionado com sucesso!");
                return true; // Allow form submission
            }
        </script>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
            document.addEventListener('DOMContentLoaded', function () {
                {% for category, message in messages %}
                {% if category == 'success' %}
                    $('#successModal').modal('show');
                {% endif %}
                {% endfor %}
            });
            </script>
        {% endif %}
        {% endwith %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>