<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Equipamento por Categoria</title>
    <link rel="icon" href="{{ url_for('static', filename='images/1664515319272.jpeg') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_equip.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css')}}">
</head>
<body>
    <div id="sidebar">
        <!-- Sidebar Icon/Logo -->
        <div class="sidebar-icon">
            <img src="{{ url_for('static', filename='images/NIT_logo.png') }}" alt="Logo">
        </div>

        <!-- Navigation Items -->
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/index" title="Dashboard">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
            {% if is_admin %}
               
                <li class="nav-item">
                    <a class="nav-link" href="/requisicoes" title="Requisições">
                        <i class="fas fa-clipboard"></i> Requisições
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/inventory" title="Inventário">
                    <i class="fas fa-box"></i> Inventário
                </a>
            </li>
            {% if is_admin %}
               
                <li class="nav-item">
                    <a class="nav-link" href="/inventory_nit" title="Inventário NIT">
                        <i class="fas fa-boxes"></i> Inventário NIT
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adicionar_equipamento_nit/-" title="Adicionar Equipamento NIT">
                        <i class="fas fa-plus"></i> Adicionar equipamento NIT
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/adicionar_equipamento" title="Adicionar Equipamento ">
                    <i class="fas fa-plus"></i> Adicionar equipamento
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/perfil" title="Perfil utilizador">
                    <i class="fas fa-user"></i> Perfil
                </a>
            </li>
            {% if is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/adicionar_utilizador" title="Adicionar utilizador">
                        <i class="fas fa-user-plus"></i> Adicionar utilizador
                    </a>
                </li>

                
            {% endif %}
            
            <li class="nav-item">
                <a class="nav-link" href="/logout" title="Logout">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        </ul>
    </div>

    <!-- Main content -->
    <div id="main-content">
        <div class="container equipment-form">

            <form id="categoryForm">
                <div class="form-group">
                    <label for="category">Selecione a Categoria</label>
                    <select class="form-control" id="category" name="category" required>
                        <option value="" disabled selected>Selecione a categoria</option>
                        <option value="computadores" {% if category == 'computadores' %}selected{% endif %}>Computadores</option>
                        <option value="monitores" {% if category == 'monitores' %}selected{% endif %}>Monitores</option>
                        <option value="cameras" {% if category == 'cameras' %}selected{% endif %}>Câmeras</option>
                        <option value="voip" {% if category == 'voip' %}selected{% endif %}>VoIPs</option>
                        <option value="headset" {% if category == 'headset' %}selected{% endif %}>Headsets</option>
                        <option value="outros" {% if category == 'outros' %}selected{% endif %}>Outros</option>
                    </select>
                </div>
            </form>
            <h3>Adicionar equipamento para a categoria: {{ category }}</h3>

            <form action="{{ url_for('add_equipment', category=category) }}" method="post" onsubmit="showSuccessModal(event)">
                
                <!-- Fields for Computadores -->
                <div id="computadoresFields" class="category-fields" style="display: none;">
                    <div class="form-group">
                        <label for="atribuido_a">Atribuido a</label>
                        <select class="form-control" id="atribuido_a" name="atribuido_a" >
                            <option value="" disabled selected>Selecione um utilizador</option>
                            {% for atribuido_a in users %}
                                <option value="{{ atribuido_a }}">{{ atribuido_a }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nome_ad">Nome AD</label>
                        <input type="text" class="form-control" id="nome_ad" name="nome_ad" placeholder="Ex: AMS00991">
                    </div>
                    <div class="form-group">
                        <label for="marca">Marca</label>
                        <select class="form-control" id="marca" name="marca" >
                            <option value="" disabled selected>Selecione uma marca</option>
                            {% for marca in marcas %}
                                <option value="{{ marca }}">{{ marca }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="modelo">Modelo</label>
                        <select class="form-control" id="modelo" name="modelo" >
                            <option value="" disabled selected>Selecione um modelo</option>
                            {% for modelo in modelos %}
                                <option value="{{ modelo }}">{{ modelo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="processador">Processador</label>
                        <select class="form-control" id="processador" name="processador" >
                            <option value="" disabled selected>Selecione um processador</option>
                            {% for processador in processadores %}
                                <option value="{{ processador }}">{{ processador }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ram">Ram</label>
                        <select class="form-control" id="ram" name="ram" >
                            <option value="" disabled selected>Selecione uma ram</option>
                            {% for ram in rams %}
                                <option value="{{ ram }}">{{ ram }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="disco">Discos</label>
                        <select class="form-control" id="disco" name="disco" >
                            <option value="" disabled selected>Selecione um disco</option>
                            {% for disco in discos %}
                                <option value="{{ disco }}">{{ disco }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="n_serie">Nº Série</label>
                        <input type="text" class="form-control" id="n_serie" name="n_serie" placeholder="Ex: SN123455">
                    </div>
                    <div class="form-group">
                        <label for="cod_nit">Codigo NIT</label>
                        <input type="text" class="form-control" id="cod_nit" name="cod_nit" placeholder="Ex: 123">
                    </div>
                    <div class="form-group">
                        <label for="data_aq">Data aquisição</label>
                        <input type="text" class="form-control" id="data_aq" name="data_aq" placeholder="Ex: 2015">
                    </div>
                    <div class="form-group">
                        <label for="firma">Firma</label>
                        <select class="form-control" id="firma" name="firma" >
                            <option value="" disabled selected>Selecione uma firma</option>
                            {% for firma in firmas %}
                                <option value="{{ firma }}">{{ firma }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="so">Sistema Operativo</label>
                        <select class="form-control" id="so" name="so" >
                            <option value="" disabled selected>Selecione um Sistema Operativo</option>
                            {% for so in sistemas_operativos %}
                                <option value="{{ so }}">{{ so }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="garantia">Garantia</label>
                        <select class="form-control" id="garantia" name="garantia" >
                            <option value="" disabled selected>Selecione a Garatia</option>
                            {% for garantia in garantias %}
                                <option value="{{ garantia }}">{{ garantia }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                </div>
                <!-- Fields for Monitores -->
                <div id="monitoresFields" class="category-fields" style="display: none;">
                    <div class="form-group">
                        <label for="atribuido_a">Atribuido a</label>
                        <input type="text" class="form-control" id="atribuido_a" name="atribuido_a" placeholder="Ex: Ana Maria Santos">
                    </div>
                    <div class="form-group">
                        <label for="marca">Marca/Modelo</label>
                        <select class="form-control" id="marca" name="marca" >
                            <option value="" disabled selected>Selecione uma marca/modelo</option>
                            {% for marca in monitores %}
                                <option value="{{ marca }}">{{ marca }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="polegadas">Polegadas</label>
                        <select class="form-control" id="polegadas" name="polegadas" >
                            <option value="" disabled selected>Selecione as polegadas</option>
                            {% for polegadas in polegadas %}
                                <option value="{{ polegadas }}">{{ polegadas }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cod_nit">Codigo NIT</label>
                        <input type="text" class="form-control" id="cod_nit" name="cod_nit" placeholder="Ex: 123">
                    </div>
                    <div class="form-group">
                        <label for="n_serie">Nº Série</label>
                        <input type="text" class="form-control" id="n_serie" name="n_serie" placeholder="Ex: SN123455">
                    </div>
                    <div class="form-group">
                        <label for="data_aq">Data aquisição</label>
                        <input type="text" class="form-control" id="data_aq" name="data_aq"placeholder="Ex: 2015" >
                    </div>
                    <div class="form-group">
                        <label for="garantia">Garantia</label>
                        <select class="form-control" id="garantia" name="garantia" >
                            <option value="" disabled selected>Selecione a garantia</option>
                            {% for garantia in garantias %}
                                <option value="{{ garantia }}">{{ garantia }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <!-- Fields for Câmeras -->
                <div id="camerasFields" class="category-fields" style="display: none;">
                    <div class="form-group">
                        <label for="atribuido_a">Atribuido a</label>
                        <input type="text" class="form-control" id="atribuido_a" name="atribuido_a" placeholder="Ex: Ana Maria Santos">
                    </div>
                    <div class="form-group">
                        <label for="marca_modelo">Modelo</label>
                        <select class="form-control" id="marca_modelo" name="marca_modelo" >
                            <option value="" disabled selected>Selecione um modelo</option>
                            {% for marca_modelo in tipos_camera %}
                                <option value="{{ marca_modelo }}">{{ marca_modelo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cod_nit">Codigo NIT</label>
                        <input type="text" class="form-control" id="cod_nit" name="cod_nit" placeholder="Ex: 123">
                    </div>
                </div>

                <!-- Fields for VoIPs -->
                <div id="voipFields" class="category-fields" style="display: none;">
                    <div class="form-group">
                        <label for="atribuido_a">Atribuido a</label>
                        <input type="text" class="form-control" id="atribuido_a" name="atribuido_a" placeholder="Ex: Ana Maria Santos">
                    </div>
                    <div class="form-group">
                        <label for="marca_modelo">Modelo</label>
                        <select class="form-control" id="marca_modelo" name="marca_modelo" >
                            <option value="" disabled selected>Selecione um modelo</option>
                            {% for marca_modelo in voips %}
                                <option value="{{ marca_modelo }}">{{ marca_modelo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ext">Extensão</label>
                        <input type="text" class="form-control" id="ext" name="ext" placeholder="Ex: 3310">
                    </div>
                    <div class="form-group">
                        <label for="cod_nit">Codigo NIT</label>
                        <input type="text" class="form-control" id="cod_nit" name="cod_nit" placeholder="Ex: 123">
                    </div>
                    <div class="form-group">
                        <label for="n_serie">Nº Série</label>
                        <input type="text" class="form-control" id="n_serie" name="n_serie" placeholder="Ex: SN123455">
                    </div>
                    
                    <div class="form-group">
                        <label for="headset_cod_nit">HeadSet Codigo NIT</label>
                        <input type="text" class="form-control" id="headset_cod_nit" name="headset_cod_nit" placeholder="Ex: 123">
                    </div>
                    
                </div>

                <div id="headsetFields" class="category-fields" style="display: none;">
                    <div class="form-group">
                        <label for="atribuido_a">Atribuido a</label>
                        <input type="text" class="form-control" id="atribuido_a" name="atribuido_a" placeholder="Ex: Ana Maria Santos">
                    </div>
                    <div class="form-group">
                        <label for="marca_modelo">Modelo</label>
                        <select class="form-control" id="marca_modelo" name="marca_modelo" >
                            <option value="" disabled selected>Selecione um modelo</option>
                            {% for marca_modelo in tipos_headset %}
                                <option value="{{ marca_modelo }}">{{ marca_modelo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cod_nit">Codigo NIT</label>
                        <input type="text" class="form-control" id="cod_nit" name="cod_nit" placeholder="Ex: 123">
                    </div>
                </div>

                <div id="outrosFields" class="category-fields" style="display: none;">
                    <div class="form-group">
                        <label for="atribuido_a">Atribuido a</label>
                        <input type="text" class="form-control" id="atribuido_a" name="atribuido_a" placeholder="Ex: Ana Maria Santos">
                    </div>
                    

                    <div class="form-group">
                        <label for="cod_nit">Codigo NIT</label>
                        <input type="text" class="form-control" id="cod_nit" name="cod_nit" placeholder="Ex: 123">
                    </div>
                    <div class="form-group">
                        <label for="n_serie">Nº Série</label>
                        <input type="text" class="form-control" id="n_serie" name="n_serie" placeholder="Ex: SN123455">
                    </div>
                    <div class="form-group">
                        <label for="data_aq">Data aquisição</label>
                        <input type="text" class="form-control" id="data_aq" name="data_aq" placeholder="Ex: 2015">
                    </div>


                </div>

                <button type="submit" class="btn btn-primary">Adicionar equipamento</button>
            </form>
        </div>
    </div>
    
    

    <script>
        // Automatically submit the form when a category is selected
        document.getElementById("category").addEventListener("change", function () {
            const selectedCategory = this.value;
            if (selectedCategory) {
                // Redirect to the URL with the selected category
                const url = "{{ url_for('add_equipment', category='') }}" + selectedCategory;
                window.location.href = url;
            }
        });

        // Function to show/hide category-specific fields
        function toggleCategoryFields() {
            const selectedCategory = "{{ category }}"; // Use the category passed from the backend
            const allFields = document.querySelectorAll(".category-fields");

            // Hide all category-specific fields
            allFields.forEach(field => field.style.display = "none");

            // Show the selected category's fields
            if (selectedCategory) {
                const fieldsToShow = document.getElementById(`${selectedCategory}Fields`);
                if (fieldsToShow) fieldsToShow.style.display = "block";
            }
        }

        // Call the function on page load to initialize the correct display
        document.addEventListener("DOMContentLoaded", toggleCategoryFields);

        
    </script>
    <script>
        // Function to enable only relevant fields before submitting the form
        document.querySelector("form[action]").addEventListener("submit", function (e) {
            const selectedCategory = "{{ category }}"; // Backend-selected category
            const allFields = document.querySelectorAll(".category-fields input, .category-fields select");
    
            // Disable all fields by default
            allFields.forEach(field => field.disabled = true);
    
            // Enable only the fields related to the selected category
            if (selectedCategory) {
                const activeFields = document.querySelectorAll(`#${selectedCategory}Fields input, #${selectedCategory}Fields select`);
                activeFields.forEach(field => field.disabled = false);
            }
        });
        const equipmentTypes = ["Leitor Cartoes", "Adaptador","Outro"];
        const select = document.getElementById("tipo_equipamento");

        equipmentTypes.forEach(type => {
            const option = document.createElement("option");
            option.value = type;
            option.textContent = type;
            select.appendChild(option);
        });
    </script>
    
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script> <!-- Font Awesome -->
</body>
</html>