<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='images/1664515319272.jpeg') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css')}}">
</head>
<body>

    <div id="sidebar">
        <!-- Sidebar Icon/Logo -->
        <div class="sidebar-icon">
            <img src="{{ url_for('static', filename='images/NIT_logo.png') }}" alt="Logo">
        </div>

        <!-- Navigation Items -->
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/index" title="Dashboard">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
            {% if is_admin %}
               
                <li class="nav-item">
                    <a class="nav-link" href="/requisicoes" title="Requisições">
                        <i class="fas fa-clipboard"></i> Requisições
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/inventory" title="Inventário">
                    <i class="fas fa-box"></i> Inventário
                </a>
            </li>
            {% if is_admin %}
               
                <li class="nav-item">
                    <a class="nav-link" href="/inventory_nit" title="Inventário NIT">
                        <i class="fas fa-boxes"></i> Inventário NIT
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adicionar_equipamento_nit/-" title="Adicionar Equipamento NIT">
                        <i class="fas fa-plus"></i> Adicionar equipamento NIT
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/adicionar_equipamento" title="Adicionar Equipamento ">
                    <i class="fas fa-plus"></i> Adicionar equipamento
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/perfil" title="Perfil utilizador">
                    <i class="fas fa-user"></i> Perfil
                </a>
            </li>
            {% if is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/adicionar_utilizador" title="Adicionar utilizador">
                        <i class="fas fa-user-plus"></i> Adicionar utilizador
                    </a>
                </li>

                
            {% endif %}
            
            <li class="nav-item">
                <a class="nav-link" href="/logout" title="Logout">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        </ul>
    </div>

    <!-- Main content -->
    <div id="main-content">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">
                Dashboard 
                {% if escola_nome %}
                     {{ escola_nome }}
                {% endif %}
                {{ year }}
            </h1>
        </div>

        <!-- Panels -->
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-primary text-white mb-3">
                    <div class="card-header">Equipamentos registados</div>
                    <div class="card-body">
                        <h5 class="card-title">{{totalequipm}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://127.0.0.1:8081/inventory?search=Disponivel&search_type=status" class="text-decoration-none">
                    <div class="card bg-info text-white mb-3">
                        <div class="card-header">Equipamentos disponiveis</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ equipment_counts.get('Disponivel', 0) }}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://127.0.0.1:8081/inventory?search=Em uso&search_type=status" class="text-decoration-none">
                    <div class="card bg-success text-white mb-3">
                        <div class="card-header">Equipamentos em uso</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ equipment_counts.get('Em uso', 0) }}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://127.0.0.1:8081/inventory?search=Em manutenção&search_type=status" class="text-decoration-none">
                    <div class="card bg-warning text-white mb-3">
                        <div class="card-header">Equipamentos em manutenção</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ equipment_counts.get('Em manutenção', 0) }}</h5>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-md-4">
                <a href="http://127.0.0.1:8081/inventory?search=Extraviado&search_type=status" class="text-decoration-none">
                    <div class="card bg-danger text-white mb-3">
                        <div class="card-header">Equipamentos extraviados</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ equipment_counts.get('Extraviado', 0) }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        
    </div>

    

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script> <!-- Font Awesome -->
</body>
</html>