<div>
    
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>Atribuido a</th>
                {% if items[0].dominio %}
                <th>Dominio</th>
                {% endif %}
                {% if items[0].nome_ad %}
                <th>Nome</th>
                {% endif %}
                {% if items[0].modelo or items[0].marca_modelo %}
                <th>Marca/Modelo</th>
                {% endif %}
                {% if items[0].so %}
                <th>SO</th>
                {% endif %}
                {% if items[0].diversos %}
                <th>Nome</th>
                {% endif %}
                {% if items[0].cod_nit %}
                <th>COD Nit</th>
                {% endif %}
                {% if items[0].data_aq %}
                <th>Data aq</th>
                {% endif %}
                {% if items[0].ext %}
                <th>Ext</th>
                {% endif %}
                <th>Estado</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    <a href="{{ url_for('user_page', user_name=item.atribuido_a) }}">
                        {{ item.atribuido_a }}
                    </a>
                </td>
                {% if item.dominio %}
                <td>{{ item.dominio }}</td>
                {% endif %}
                {% if item.nome_ad %}
                <td>{{ item.nome_ad }}</td>
                {% endif %}
                
                {% if item.diversos  %}
                    <td>{{ item.diversos }}</td>
                {% endif %}
                {% if item.modelo or item.marca_modelo %}
                    <td>{{ item.modelo if item.modelo else item.marca_modelo }}</td>
                {% endif %}
                {% if item.so  %}
                    <td>{{ item.so }}</td>
                {% elif item.so == '' %}
                    <td>{{ '-' }}</td>
                {%endif%}
                {% if item.cod_nit %}
                    <td>{{ item.cod_nit }}</td>
                {% elif item.cod_nit == '' %}   
                    <td>{{ '-' }}</td>
                {%endif%}
                {% if item.data_aq %}
                    <td>{{ item.data_aq }}</td>
                {% elif item.data_aq == '' or item.data_aq is none %}
                    <td>{{ '-' }}</td>
                {%endif%}
                {% if item.ext %}
                <td>{{ item.ext }}</td>
                {% endif %}
                <td>
                    {% if item.estado == 'Em uso' %}
                        <span class="badge badge-success rounded-pill">Em uso</span>
                    {% elif item.estado == 'Extraviado' %}
                        <span class="badge badge-danger rounded-pill">Extraviado</span>
                    {% elif item.estado == 'Manutenção' %}
                        <span class="badge badge-warning rounded-pill">Manutenção</span>
                    {% elif item.estado == 'Disponivel' %}
                        <span class="badge badge-info rounded-pill">Disponível</span>
                    {% elif item.estado == 'Abatido' %}
                        <span class="badge badge-secondary rounded-pill">Abatido</span>
                    {% else %}
                        <span class="badge badge-secondary rounded-pill">Unknown</span>
                    {% endif %}
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" 
                                type="button" 
                                id="dropdownMenuButton" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" 
                                aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ url_for('edit_item', category=inventory_type, item_id=item['id']) }}">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a class="dropdown-item text-danger" 
                               data-toggle="modal" 
                               data-target="#removeModal" 
                               data-id="{{ item['id'] }}" 
                               data-category="{{ inventory_type }}">
                                <i class="fas fa-trash"></i> Remover
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

    <!-- Pagination Controls -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- First Page Button -->
            <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                <a class="page-link" href="#" 
                data-page="1" 
                data-search="{{ request.args.get('search', '') }}" 
                aria-label="First Page" title="First Page">
                    <span aria-hidden="true">&laquo;</span> Primeira
                </a>
            </li>

            <!-- Previous Group Button -->
            <li class="page-item {% if current_page <= 1 %}disabled{% endif %}">
                <a class="page-link" href="#" 
                data-page="{{ current_page - 1 if current_page > 1 else 1 }}" 
                data-search="{{ request.args.get('search', '') }}" 
                aria-label="Previous Group" title="Previous Group">
                    <span aria-hidden="true">&lsaquo;</span> Anterior
                </a>
            </li>

            <!-- Loop to show pages in groups of 5 -->
            {% set start_page = ((current_page - 1) // 5) * 5 + 1 %}
            {% set end_page = start_page + 4 %}
            {% if end_page > total_pages %}
                {% set end_page = total_pages %}
            {% endif %}

            {% for page in range(start_page, end_page + 1) %}
                <li class="page-item {% if page == current_page %}active{% endif %}">
                    <a class="page-link" href="#" 
                    data-page="{{ page }}" 
                    data-modelo="{{ request.args.get('modelo', '') }}">
                        {{ page }}
                    </a>
                </li>
            {% endfor %}

            <!-- Next Group Button -->
            <li class="page-item {% if current_page + 5 > total_pages %}disabled{% endif %}">
                <a class="page-link" href="#" 
                data-page="{{ current_page + 1 if current_page + 1 <= total_pages else total_pages }}" 
                data-modelo="{{ request.args.get('modelo', '') }}" 
                aria-label="Next Group" title="Next Group">
                    Próxima <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>

            <!-- Last Page Button -->
            <li class="page-item {% if current_page == total_pages %}disabled{% endif %}">
                <a class="page-link" href="#" 
                data-page="{{ total_pages }}" 
                data-modelo="{{ request.args.get('modelo', '') }}" 
                aria-label="Last Page" title="Last Page">
                    Última <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>