<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário</title>
    <link rel="icon" href="{{ url_for('static', filename='images/1664515319272.jpeg') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inventory.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css')}}">
    <style>
        /* Custom button styles */
        .btn-assign { background-color: #28a745; color: #fff; border-radius: 5px; padding: 5px 10px; }
        .btn-assign:hover { background-color: #218838; }
        .btn-return, .btn-found, .btn-repaired { background-color: #17a2b8; color: #fff; border-radius: 5px; padding: 5px 10px; }
        .btn-return:hover, .btn-found:hover, .btn-repaired:hover { background-color: #138496; }
    </style>
</head>
<body>
    <div id="sidebar">
        <!-- Sidebar Icon/Logo -->
        <div class="sidebar-icon">
            <img src="{{ url_for('static', filename='images/NIT_logo.png') }}" alt="Logo">
        </div>
    
        <!-- Navigation Items -->
        <ul class="nav flex-column">
            
            <!-- Dashboard Group -->
            <li class="nav-item">
                <a class="nav-link active" href="/index" title="Dashboard">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
            {% if is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/requisicoes" title="Requisições">
                        <i class="fas fa-clipboard"></i> Requisições
                    </a>
                </li>
            
                
                
            {% endif %}
    
            <!-- Inventário Group with Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="inventarioDropdown" role="button" data-toggle="collapse" data-target="#inventarioCollapse" aria-expanded="false" aria-controls="inventarioCollapse">
                    <i class="fas fa-box"></i> Inventário
                </a>
                <div class="collapse" id="inventarioCollapse">
                    <ul class="nav flex-column pl-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/inventory" title="Inventário">
                                <i class="fas fa-box"></i> Inventário
                            </a>
                        </li>
                        
                        {% if is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="/inventory_nit" title="Inventário NIT">
                                <i class="fas fa-boxes"></i> Inventário NIT
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tabelas" title="Tabelas NIT">
                                <i class="fas fa-box-open"></i> Tabelas NIT
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
    
            <!-- Adicionar Group with Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="adicionarDropdown" role="button" data-toggle="collapse" data-target="#adicionarCollapse" aria-expanded="false" aria-controls="adicionarCollapse">
                    <i class="fas fa-plus"></i> Adicionar
                </a>
                <div class="collapse" id="adicionarCollapse">
                    <ul class="nav flex-column pl-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/adicionar_equipamento" title="Adicionar Equipamento">
                                <i class="fas fa-plus"></i> Adicionar equipamento
                            </a>
                        </li>
                        
                        {% if is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="/adicionar_equipamento_nit/-" title="Adicionar Equipamento NIT">
                                <i class="fas fa-plus"></i> Adicionar equipamento NIT
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            
            <!-- Perfil Group -->
            <li class="nav-item">
                <a class="nav-link" href="/perfil" title="Perfil utilizador">
                    <i class="fas fa-user"></i> Perfil
                </a>
            </li>
            
    
            <!-- Admin Only Group -->
            {% if is_admin %}
                
                <li class="nav-item">
                    <a class="nav-link" href="/adicionar_utilizador" title="Adicionar utilizador">
                        <i class="fas fa-user-plus"></i> Adicionar utilizador
                    </a>
                </li>
            {% endif %}
            
            <!-- Logout -->
            <li class="nav-item">
                <a class="nav-link" href="/logout" title="Logout">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        </ul>
    </div>

    <div id="main-content">
        <h1>Inventário</h1>
        <div class="mb-3">
            <form method="GET" action="{{ url_for('inventory') }}">
                <div class="input-group">
                    <input type="text" name="search" id="searchSerial" class="form-control" placeholder="Procurar" value="{{ search_query }}">
                    <select name="search_type" class="form-control">
                        <option value="serial_number" {% if search_type == 'serial_number' %}selected{% endif %}>Serial No.</option>
                        <option value="equipamento" {% if search_type == 'equipamento' %}selected{% endif %}>Equipamento</option>
                        <option value="cc_aluno" {% if search_type == 'cc_aluno' %}selected{% endif %}>Atribuido a</option>
                        <option value="status" {% if search_type == 'status' %}selected{% endif %}>Estado</option>
                        
                    </select>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Procurar</button>
                        <a href="{{ url_for('inventory') }}" class="btn btn-secondary">Limpar</a>
                    </div>
                </div>
            </form>
        </div>

        <!-- Equipment Table -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Serial No.</th>
                    <th>Equipamento</th>
                    <th>Mac-Addr</th>
                    <th>Atribuido a</th>
                    <th>Pertencente a (escola)</th>
                    <th>Estado</th>
                    <th>Cedido a (escola)</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="inventoryTable">
                {% for equipamento in equipamentos %}
                    <tr>
                        <td><a href="{{ url_for('item_page', serial_number=equipamento.serial_number, escola_id=equipamento.escola_id) }}">{{ equipamento.serial_number }}</a></td>
                        <td>{{ equipamento.tipo }}</td>
                        <td>{{ equipamento.mac_addr }}</td>
                        <td>{{ equipamento.aluno_CC if equipamento.aluno_CC else '-' }}</td>
                        <td>{{ equipamento.escola_name_from if equipamento.escola_name_from else '-' }}</td>  
                        <td>
                            {% if equipamento.status == 'Em uso' %}
                                <span class="badge badge-success rounded-pill">Em uso</span>
                            {% elif equipamento.status == 'Extraviado' %}
                                <span class="badge badge-danger rounded-pill">Extraviado</span>
                            {% elif equipamento.status == 'Em manutenção' %}
                                <span class="badge badge-warning rounded-pill">Em manutenção</span>
                            {% elif equipamento.status == 'Disponivel' %}
                                <span class="badge badge-info rounded-pill">Disponível</span>
                            {% else %}
                                <span class="badge badge-secondary rounded-pill">Unknown</span>
                            {% endif %}
                        </td>
                        <td>{{ equipamento.escola_name_to if equipamento.escola_name_to else '-' }}</td>  
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" 
                                        type="button" 
                                        id="dropdownMenuButton" 
                                        data-toggle="dropdown" 
                                        aria-haspopup="true" 
                                        aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" 
                                       href="{{ url_for('edit_equip', serial_number=equipamento.serial_number, escola_id=equipamento.escola_id) }}">
                                        <i class="fas fa-edit"></i> Editar
                                    </a>
                                    <button class="dropdown-item text-danger" 
                                            onclick="confirmRemoval('{{ url_for('remove_equip', serial_number=equipamento.serial_number, escola_id=equipamento.escola_id) }}')">
                                        <i class="fas fa-trash"></i> Remover
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="7" class="text-center">Não foram encontrados quaisquer equipamentos.</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Pagination Controls -->
        <div class="d-flex justify-content-center mt-4">
            <nav>
                <ul class="pagination">
                    <!-- Previous Page Link -->
                    {% if page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('inventory', page=page - 1, search=search_query, search_type=search_type) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo; Anterior</span>
                            </a>
                        </li>
                    {% endif %}
            
                    <!-- First Page Link -->
                    {% if start_page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('inventory', page=1, search=search_query, search_type=search_type) }}">1</a>
                        </li>
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                    {% endif %}
            
                    <!-- Page Number Range -->
                    {% for p in range(start_page, end_page + 1) %}
                        <li class="page-item {% if p == page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('inventory', page=p, search=search_query, search_type=search_type) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
            
                    <!-- Last Page Link -->
                    {% if end_page < total_pages %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('inventory', page=total_pages, search=search_query, search_type=search_type) }}">{{ total_pages }}</a>
                        </li>
                    {% endif %}
            
                    <!-- Next Page Link -->
                    {% if page < total_pages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('inventory', page=page + 1, search=search_query, search_type=search_type) }}" aria-label="Next">
                                <span aria-hidden="true">Próximo &raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <!-- Modal Structure -->
    <div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Action Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to proceed with this action?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmAction">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Remove modal -->
    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeModalLabel">Remover Equipamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem a certeza de que deseja remover este equipamento? Esta ação não pode ser desfeita.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmRemove">Remover</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Assign Equipment -->
    <div class="modal fade" id="atribuirModal" tabindex="-1" role="dialog" aria-labelledby="atribuirModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="atribuirModalLabel">Atribuir Equipamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="atribuirForm" method="POST">
                        <!-- Hidden field to store the serial number and escola_id -->
                        <input type="hidden" id="equipamentoSerial" name="serial_number">
                        <input type="hidden" id="equipamentoEscolaId" name="escola_id">

                        <div class="form-group">
                            <label for="ccInput">Número de CC</label>
                            <input type="text" class="form-control" id="ccInput" name="cc" placeholder="Introduza o número de CC">
                        </div>
                        <button type="submit" class="btn btn-primary">Atribuir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal refund equi -->
    <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="refundModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="refundModalLabel">Equipamento devolvido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="refundForm" method="POST">
                        
                        <button type="submit" class="btn btn-primary">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Assigning Equipment -->
    <div class="modal fade" id="foundModal" tabindex="-1" role="dialog" aria-labelledby="foundModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="foundModalLabel">Equipamento encontrado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="foundForm" method="POST">
                        
                        <button type="submit" class="btn btn-primary">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function showModal(actionType, url) {
            document.getElementById('modalTitle').textContent = `${actionType} Equipamento`;
            document.getElementById('confirmAction').onclick = function () {
                window.location.href = url;
            };
            $('#actionModal').modal('show');
        }
    </script>
    <script>
        function confirmRemoval(url) {
            // Set the URL for the confirmation button
            document.getElementById('confirmRemove').onclick = function () {
                window.location.href = url;
            };
            // Show the modal
            $('#removeModal').modal('show');
        }
    </script>
</body>
</html>