<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do equipamento</title>
    <link rel="icon" href="{{ url_for('static', filename='images/1664515319272.jpeg') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css')}}">
</head>
<body>

    <div id="sidebar">
        <!-- Sidebar Icon/Logo -->
        <div class="sidebar-icon">
            <img src="{{ url_for('static', filename='images/NIT_logo.png') }}" alt="Logo">
        </div>

        <!-- Navigation Items -->
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/index" title="Dashboard">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
            {% if is_admin %}
               
                <li class="nav-item">
                    <a class="nav-link" href="/requisicoes" title="Inventory">
                        <i class="fas fa-clipboard"></i> Requisições
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/inventory" title="Inventory">
                    <i class="fas fa-box"></i> Inventário
                </a>
            </li>
            {% if is_admin %}
               
                <li class="nav-item">
                    <a class="nav-link" href="/inventory_nit" title="Inventory">
                        <i class="fas fa-boxes"></i> Inventário NIT
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/adicionar_equipamento" title="Add Equipment">
                    <i class="fas fa-plus"></i> Adicionar equipamento
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adicionar_equipamento_nit" title="Add Equipment">
                    <i class="fas fa-plus"></i> Adicionar equipamento NIT
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/perfil" title="Perfil utilizador">
                    <i class="fas fa-user"></i> Perfil
                </a>
            </li>
            {% if is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="/adicionar_utilizador" title="Add User">
                        <i class="fas fa-user-plus"></i> Adicionar utilizador
                    </a>
                </li>

                
            {% endif %}
            
            <li class="nav-item">
                <a class="nav-link" href="/logout" title="Logout">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        </ul>
    </div>

    <!-- Main Content -->
    <div id="main-content">
        <div class="container">
            <h1 class="mt-4">Detalhes do equipamento</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Serial No.: {{ equipment.serial_number }}</h5>
                    <p><strong>Tipo de equipamento:</strong> {{ equipment.tipo }}</p>
                    <p><strong>MAC addr:</strong> {{ equipment.mac_addr }}</p>
                    <p><strong>Utilização:</strong> {{ equipment.use_case }}</p>

                    <p><strong>Estado:</strong>
                        {% if equipment.status == 'Em uso' %}
                            <span class="badge badge-success rounded-pill">Em uso</span>
                        {% elif equipment.status == 'Extraviado' %}
                            <span class="badge badge-danger rounded-pill">Extraviado</span>
                        {% elif equipment.status == 'Em manutenção' %}
                            <span class="badge badge-warning rounded-pill">Em manutenção</span>
                        {% elif equipment.status == 'Disponivel' %}
                            <span class="badge badge-info rounded-pill">Disponível</span>
                        {% else %}
                            <span class="badge badge-secondary rounded-pill">Unknown</span>
                        {% endif %}
                    </p>
                    <p><strong>Atribuido a:</strong> {{ equipment.aluno_CC if equipment.aluno_CC else 'Not Assigned' }}</p>
                    <p><strong>Localização:</strong> {{ escola_nome  }}</p>
                    <p><strong>Data de aquisição:</strong> {{ equipment.data_aquisicao }}</p>
                    <p><strong>Data da ultima alteração:</strong> {{ equipment.data_ultimo_movimento }}</p>
                    {%if acessorios%}
                        <h5 class="card-title">Acessórios</h5>
                        <span>{{ acessorios | join(', ') }}</span>
                    {%endif%}
                    {%if observacoes %}
                        <h5 class="card-title">Observações</h5>
                        <span>{{ observacoes }}</span>

                    {%endif%}
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Documentos</h5>
                            {% if documents %}
                                <ul class="list-group">
                                    {% for doc in documents %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span>{{ doc.nome_arquivo }}</span>
                                            <div>
                                                <small class="text-muted">Publicado em: {{ doc.data_upload }}</small>
                                                <!-- Link to download the document -->
                                                <a href="{{ url_for('download_document', filename=doc.nome_arquivo) }}" class="btn btn-success btn-sm ml-2" download>Download</a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="text-muted">Nenhum documento associado a este equipamento.</p>
                            {% endif %}
                        </div>
                    </div>
                    
                    

                        
                </div>
                <div class="card-footer text-right">
                    <a href="/inventory" class="btn btn-secondary">Voltar para o inventario</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script> <!-- Font Awesome -->
</body>
</html>